/* Esercizio 1 */
.ex-1-square{
    transition: all 3s ease;
}

.ex-1-square:hover{
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square{
    transition: all 3s ease;
}

.ex-2-square:active{
    width: 600px;
}

/* Esercizio 3 */
.ex-3-square{
    transition: all 3s ease;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* Esercizio 4 */
.ex-4-square{
    transition: all 3s ease;
}

.ex-4-square:hover{
    opacity: 0%;
}

/* Esercizio 5 */
.ex-5-square{
    transition: all 2s ease;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}

/* Esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(1);
    
}

/* Esercizio 7 */
.ex-7-img{
    transition: all 3s ease;
}

.ex-7-img:hover{
    filter: blur(2px) hue-rotate(90deg);
}

/* Esercizio 8 */
.ex-8-img{
    transition: all 3s ease;
}

.ex-8-img:hover{
    filter: sepia(1) invert(1);
    border-radius: 20%;
}

/* Esercizio 9 */
.ex-9-img{
    transition: all 3s ease;
}

.ex-9-img:hover{
    filter: brightness(0.8) grayscale(1);
    border-radius: 20%;
    width: 350px;
}

/* Esercizio 10 */
.ex-10-icon {
    animation: rotazione 1s linear infinite;
}
@keyframes rotazione {
    0% {
        transform: rotate(1turn);
    }
}